@media screen and (max-width: 800px)
{

body{
	background: #feae80;
	font-size: 80%;
}
header .encabezado div
{
    display: inline-block;
}
header{
    width: 100%;
    overflow: hidden;
    background: #cb0252;
    margin-bottom: 20px;
}
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header nav{
    float: right;
}
header nav a{
    display: inline-block;
    color:#760553;
    text-decoration: none;
    padding: 10px 10px;

}

header nav ul {
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background: #760553;
}

header nav ul li a {
	color:blanchedalmond;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background: #cb0252;
	position: absolute;
	width: 90%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid #380a52;
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
.style1 right wrapper{
	width: 300px;
	height: auto;
	margin: auto;
	display: block;
	border-radius: 5px;
	padding: 10px;
	border: 2px solid #ccc;
}

}